<% if @user.errors.any?%>

        <ul>
        <% @user.errors.full_messages.each do |msg|%>
            <li class="error"><%= msg %></li>
            <% end%>
        </ul>
        
        <%= render 'form', user: @user %>
        
<% else %>

    
<%= render 'form', user: @user %>
    
<% end %>
